body{
    margin: 40px;
    background-color:aliceblue;
}

p{
    text-align: justify;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

img{
    width:15%;
    border: 0.5px solid;
    border-color: darkgrey;
}

h1{
    text-align: center;
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2{
    border-bottom: 2px solid;
    margin-top: 40px;
    font-size: 28px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a{
    color: blue;
    font-size: 22px;
    font-weight: bolder;
    margin: 15px;
}

table{
    text-align: center;
    width: 40%;
    margin: 15px;
}

th, td{
    padding: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

ol, ul{
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

fieldset{
    margin: 0 auto;
    width:25%;
    border: 1px solid;
    padding: 15px;
}

input{
    width:50%;
    padding: 6px;
    margin: 8px;
}

label{
    font-size: 18px;
    font-weight: bolder;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

button{
    cursor: pointer;
    font-size: 18px;
    font-weight:bolder;
    padding: 8px;
}